<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          You can view the things that interested more poeple here.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 mt-3"
        *ngFor="let featuredPost of this.featuredArrayList"
      >
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="normal-posts container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>Freshly posted memories and travel destinations are posted here</p>
  </div>

  <div class="row">
    <div
      class="col-md-4 mt-3"
      *ngFor="let latestPostData of latestPostArrayList"
    >
      <app-post-card [postData]="latestPostData"></app-post-card>
    </div>
  </div>
</section>
