<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 background-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="mt-5 p-5 bg-secondary-theme">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus
        totam aliquam rem. Suscipit provident ratione repellendus excepturi odit
        optio, saepe doloremque eligendi tempora fugit voluptatum ab quos ipsa,
        minus explicabo alias nesciunt obcaecati cum maxime laboriosam nostrum
        possimus corporis non? Dicta officiis, quae voluptates laborum quidem
        cupiditate. Ea, consequuntur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus
        totam aliquam rem. Suscipit provident ratione repellendus excepturi odit
        optio, saepe doloremque eligendi tempora fugit voluptatum ab quos ipsa,
        minus explicabo alias nesciunt obcaecati cum maxime laboriosam nostrum
        possimus corporis non? Dicta officiis, quae voluptates laborum quidem
        cupiditate. Ea, consequuntur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus
        totam aliquam rem. Suscipit provident ratione repellendus excepturi odit
        optio, saepe doloremque eligendi tempora fugit voluptatum ab quos ipsa,
        minus explicabo alias nesciunt obcaecati cum maxime laboriosam nostrum
        possimus corporis non? Dicta officiis, quae voluptates laborum quidem
        cupiditate. Ea, consequuntur.
      </p>
      <div class="text-center">
        <button class="btn btn-sm btn-info mt-5 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
