<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect" *ngIf="this.postContent">
        <img
          src="{{ this.postContent.postImgPath }}"
          alt="single-post-img"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-center text-danger">
            {{ this.postContent.category.category }}
          </small>
          <small
            class="bg-light text-center text-success ml-2"
            *ngIf="this.postContent.isFeatured"
          >
            Featured
          </small>
          <small class="bg-light text-center text-info ml-2">
            Views-
            {{
            this.postContent.views
          }}</small>
          <small class="bg-light text-center text-warning ml-2">{{
            this.postContent.createdAt
          }}</small>
          <h1 class="mt-3 mb-3" >{{ this.postContent.title }}</h1>
          <p>
            <b>
              <i> {{ this.postContent.excerpt }} </i>
            </b>
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
            aperiam perspiciatis reprehenderit repudiandae, vero distinctio non
            corrupti tempora inventore qui ut odio accusantium voluptate iure
            beatae rerum error cumque earum. Ipsa, sit itaque doloremque minus,
            commodi accusantium, aperiam maxime ex inventore dolor fugit? Porro
            placeat minus nulla optio reiciendis nihil voluptatibus quia
            ducimus! Quas quibusdam officia sapiente tempora distinctio magni,
            accusantium quia, laboriosam voluptatum magnam dolore delectus
            laudantium quae est neque inventore nostrum ab veniam eaque cum
            consequatur blanditiis! Suscipit mollitia laborum quam quia qui
            eaque, rerum necessitatibus recusandae perferendis, animi sit! Non
            rem voluptate blanditiis, et iure minima corrupti inventore quod
            animi, quam placeat sed exercitationem repellendus veniam dicta
            beatae modi doloremque laboriosam magnam dolorum quasi impedit saepe
            atque. Pariatur, cumque repudiandae sint, officia magnam,
            exercitationem quis quaerat saepe corrupti minus placeat eius magni.
            Voluptatem nesciunt quia adipisci ipsum, autem sint perspiciatis
            iste distinctio in culpa dolores, eveniet vel?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comments-list></app-comments-list>
    </div>

    <div class="col-md-3" *ngIf="similarPostsData">
      <ng-container *ngFor="let post of similarPostsData">
        <app-post-card [postData]="post"></app-post-card>
      </ng-container>
    </div>
  </div>
</div>
